@import 'src/variables';

.content {
  background-color: $mainColor;
  color: $whiteColor;

  &__title {
    font-size: 1.5em;
    text-align: center;
  }

  &__name {
    font-size: 1.3em;
    margin-bottom: 10px;
  }

  &__ingredient {
    &:before {
      content: '*';
      width: 6px;
      height: 6px;
    }
  }
}
