:host {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 20px;
  position: relative;
  @media (max-width: 950px) {
    gap: 30px;
  }
  @media (max-width: 800px) {
    flex-wrap: wrap;
    gap: 10px;
  }
}
