@import 'src/variables';

.nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 15px 30px;
  font-size: 1.5em;
  background-color: $mainColor;
  color: $whiteColor;
  position: relative;

  @media (max-width: 540px) {
    font-size: 1.3em;
  }

  .menu-item {
    cursor: pointer;
    position: relative;
    color: $whiteColor;
    text-decoration: none;
  }

  .active {
    color: $successColor;
  }
}

.nav-menu {
  @extend .nav;
  @media (max-width: 762px) {
    margin-top: 50px;
  }
}
