<div class="logo">
  <img src="assets/images/logo.jpg" alt="Main Logo" />
</div>
<app-search
  *ngIf="
    currentRoute?.url === '/menu' || currentRoute?.url === '/'
  "></app-search>
<mat-select class="select-lang" [(ngModel)]="selectedOption">
  <mat-option
    *ngFor="let lang of languages"
    [value]="lang"
    (click)="translate.use(lang)">
    {{ lang | uppercase }}
  </mat-option>
</mat-select>
<div class="user" *ngIf="user$ | async; let user">
  <strong class="user__name">{{ user.username }}</strong>
  <app-button
    type="button"
    classes="logout-btn"
    (click)="onLogout()"
    [text]="'header.logout' | translate"></app-button>
</div>
<app-button
  [routerLink]="['/login']"
  *ngIf="(user$ | async) === null"
  [text]="'header.authorize' | translate"></app-button>
