<div class="modal" (click)="onProductModalClose($event)">
  <div class="modal-content content">
    <button class="content__close-btn" (click)="onProductModalClose($event)">
      X
    </button>
    <h2 class="content__title">
      {{
        selectedProduct
          ? ('PRODUCT_FORM.UPDATE' | translate)
          : ('PRODUCT_FORM.ADD' | translate)
      }}
      {{ 'PRODUCT_FORM.PRODUCT' | translate }}
    </h2>
    <form
      [formGroup]="productForm"
      (ngSubmit)="onSubmit()"
      class="product-form">
      <label class="product-form__field">
        {{ 'FORM.TITLE' | translate }}
        <app-input
          type="text"
          formControlName="title"
          [placeholder]="'PRODUCT_FORM.PLACEHOLDERS.TITLE' | translate"
          classes="product-field"
          [control]="productForm.get('title')">
        </app-input>
      </label>
      <label class="product-form__field product-form__field_with-star">
        {{ 'FORM.DESCRIPTION' | translate }}
        <textarea
          [ngClass]="
            productForm.get('description')?.touched &&
            productForm.get('description')?.invalid
              ? 'error'
              : null
          "
          formControlName="description"
          [placeholder]="'PRODUCT_FORM.PLACEHOLDERS.DESCRIPTION' | translate"
          class="product-form__control"></textarea>
      </label>
      <div class="validation">
        <app-validation-error
          *ngIf='productForm.get("description")?.touched && productForm.get("description")?.errors?.["required"]'>
          {{ 'VALIDATION.REQUIRED' | translate }}
        </app-validation-error>
        <app-validation-error
          *ngIf='productForm.get("description")?.touched && productForm.get("description")?.errors?.["minlength"]'>
          {{ 'VALIDATION.MIN_LENGTH' | translate }}
        </app-validation-error>
        <app-validation-error
          *ngIf='productForm.get("description")?.touched && productForm.get("description")?.errors?.["pattern"]'>
          {{ 'VALIDATION.PATTERN' | translate }}
        </app-validation-error>
      </div>
      <label class="product-form__field">
        {{ 'FORM.PRICE' | translate }}
        <app-input
          type="number"
          formControlName="price"
          [placeholder]="'PRODUCT_FORM.PLACEHOLDERS.PRICE' | translate"
          classes="product-field"
          [control]="productForm.get('price')">
        </app-input>
      </label>
      <label class="product-form__field product-form__field_with-star">
        {{ 'FORM.CATEGORY' | translate }}
        <select
          [ngClass]="
            productForm.get('category')?.touched &&
            productForm.get('category')?.invalid
              ? 'error'
              : null
          "
          formControlName="category"
          class="product-form__control product-form__control_select">
          <option value="" selected disabled hidden>
            {{ 'PRODUCT_FORM.CATEGORY' | translate }}
          </option>
          <option
            *ngFor="let category of categories$ | async"
            [value]="category.name"
            (click)="category_id = category.id"
            selected>
            {{ 'CATEGORIES.' + category.name.toUpperCase() | translate }}
          </option>
        </select>
      </label>
      <div class="validation">
        <app-validation-error
          *ngIf='productForm.get("category")?.touched && productForm.get("category")?.errors?.["required"]'>
          {{ 'VALIDATION.REQUIRED' | translate }}
        </app-validation-error>
      </div>
      <label
        class="product-form__field product-form__field_with-star add-product-image">
        {{ 'FORM.IMAGE_URL' | translate }}
        <input
          type="file"
          (change)="onImgInputChange($event)"
          formControlName="imageUrl" />
        <div class="validation">
          <app-validation-error
            *ngIf='productForm.get("imageUrl")?.touched && productForm.get("imageUrl")?.errors?.["required"]'>
            {{ 'VALIDATION.REQUIRED' | translate }}
          </app-validation-error>
        </div>
        <img
          [src]="environment.apiBase + oldImage"
          alt="Product image"
          *ngIf="oldImage && !newImage" />
        <img [src]="newImageUrl" alt="Product image" *ngIf="newImage" />
      </label>
      <div class="ingredient">
        <label class="product-form__field ingredient__field">
          {{ 'FORM.ADD' | translate }}
          <input
            type="text"
            [value]="newIngredient"
            (input)="onChangeInput($event)"
            class="product-form__control" />
        </label>
        <app-button
          [disabled]="!newIngredient"
          (click)="onAddIngredient()"
          type="button"
          classes="add-ingredient-btn"
          [text]="'PRODUCT_FORM.ADD_BTN' | translate">
        </app-button>
      </div>
      <h2 class="product-form__text">
        {{ 'PRODUCT_FORM.INGREDIENTS' | translate }}
      </h2>
      <p class="product-form__text" *ngIf="newProductIngredients.length === 0">
        {{ 'PRODUCT_FORM.EMPTY_MESSAGE' | translate }}
      </p>
      <div
        class="new-ingredient"
        *ngFor="let ingredient of newProductIngredients">
        <p class="new-ingredient__name">{{ ingredient }}</p>
        <button
          type="button"
          (click)="onDeleteIngredient(ingredient)"
          class="new-ingredient__btn">
          {{ 'PRODUCT_FORM.DELETE' | translate }}
        </button>
      </div>
      <app-button
        [disabled]="productForm.invalid || !newProductIngredients.length"
        [text]="
          selectedProduct
            ? ('PRODUCT_FORM.UPRATE' | translate)
            : ('PRODUCT_FORM.CREATE' | translate)
        "></app-button>
    </form>
  </div>
</div>
