<div class="modal" (click)="onProductModalClose($event)">
  <div class="modal-content content">
    <button class="content__close-btn" (click)="onProductModalClose($event)">
      X
    </button>
    <h2 class="content__title">
      {{
        selectedProduct
          ? ('product-form.update' | translate)
          : ('product-form.add' | translate)
      }}
      {{ 'product-form.product' | translate }}
    </h2>
    <form
      [formGroup]="productForm"
      (ngSubmit)="onSubmit()"
      class="product-form">
      <label class="product-form__field">
        {{ 'form.title' | translate }}
        <app-input
          type="text"
          formControlName="title"
          [placeholder]="'product-form.placeholders.title' | translate"
          classes="product-field"
          [control]="productForm.get('title')">
        </app-input>
      </label>
      <label class="product-form__field product-form__field_with-star">
        {{ 'form.description' | translate }}
        <textarea
          [ngClass]="
            productForm.get('description')?.touched &&
            productForm.get('description')?.invalid
              ? 'error'
              : null
          "
          formControlName="description"
          [placeholder]="'product-form.placeholders.description' | translate"
          class="product-form__control"></textarea>
      </label>
      <div class="validation">
        <app-validation-error
          *ngIf='productForm.get("description")?.touched && productForm.get("description")?.errors?.["required"]'>
          {{ 'validation.required' | translate }}
        </app-validation-error>
        <app-validation-error
          *ngIf='productForm.get("description")?.touched && productForm.get("description")?.errors?.["minlength"]'>
          {{ 'validation.minlength' | translate }}
        </app-validation-error>
        <app-validation-error
          *ngIf='productForm.get("description")?.touched && productForm.get("description")?.errors?.["pattern"]'>
          {{ 'validation.pattern' | translate }}
        </app-validation-error>
      </div>
      <label class="product-form__field">
        {{ 'form.price' | translate }}
        <app-input
          type="number"
          formControlName="price"
          [placeholder]="'product-form.placeholders.price' | translate"
          classes="product-field"
          [control]="productForm.get('price')">
        </app-input>
      </label>
      <label class="product-form__field product-form__field_with-star">
        {{ 'form.category' | translate }}
        <select
          [ngClass]="
            productForm.get('category')?.touched &&
            productForm.get('category')?.invalid
              ? 'error'
              : null
          "
          formControlName="category"
          class="product-form__control product-form__control_select">
          <option value="" selected disabled hidden>
            {{ 'product-form.category' | translate }}
          </option>
          <option
            *ngFor="let category of categories$ | async"
            [value]="category.name"
            (click)="category_id = category.id"
            selected>
            {{ 'categories.' + category.name | translate }}
          </option>
        </select>
      </label>
      <div class="validation">
        <app-validation-error
          *ngIf='productForm.get("category")?.touched && productForm.get("category")?.errors?.["required"]'>
          {{ 'validation.required' | translate }}
        </app-validation-error>
      </div>
      <label
        class="product-form__field product-form__field_with-star add-product-image">
        {{ 'form.imageUrl' | translate }}
        <input
          type="file"
          (change)="onImgInputChange($event)"
          formControlName="imageUrl" />
        <div class="validation">
          <app-validation-error
            *ngIf='productForm.get("imageUrl")?.touched && productForm.get("imageUrl")?.errors?.["required"]'>
            {{ 'validation.required' | translate }}
          </app-validation-error>
        </div>
        <img
          [src]="environment.apiBase + oldImage"
          alt="Product image"
          *ngIf="oldImage && !newImage" />
        <img [src]="newImageUrl" alt="Product image" *ngIf="newImage" />
      </label>
      <div class="ingredient">
        <label class="product-form__field ingredient__field">
          {{ 'form.add' | translate }}
          <input
            type="text"
            [value]="newIngredient"
            (input)="onChangeInput($event)"
            class="product-form__control" />
        </label>
        <app-button
          [disabled]="!newIngredient"
          (click)="onAddIngredient()"
          type="button"
          classes="add-ingredient-btn"
          [text]="'product-form.add-btn' | translate">
        </app-button>
      </div>
      <h2 class="product-form__text">
        {{ 'product-form.ingredients' | translate }}
      </h2>
      <p class="product-form__text" *ngIf="newProductIngredients.length === 0">
        {{ 'product-form.empty-message' | translate }}
      </p>
      <div
        class="new-ingredient"
        *ngFor="let ingredient of newProductIngredients">
        <p class="new-ingredient__name">{{ ingredient }}</p>
        <button
          type="button"
          (click)="onDeleteIngredient(ingredient)"
          class="new-ingredient__btn">
          {{ 'product-form.delete' | translate }}
        </button>
      </div>
      <app-button
        [disabled]="productForm.invalid || !newProductIngredients.length"
        [text]="
          selectedProduct
            ? ('product-form.update' | translate)
            : ('product-form.create' | translate)
        "></app-button>
    </form>
  </div>
</div>
