@import 'src/variables';

.add-product {
  position: absolute;
  top: -5px;
  right: 20px;
  background-color: $successColor;
  width: 40px;
  height: 40px;
  font-size: 1.7em;
  border: none;
  border-radius: 10px;

  @media (max-width: 880px) {
    right: -20px;
  }
}
