@import "src/variables";

:host {
  flex: 0 0 100px;
}

::ng-deep .category {
  width: 100%;
  padding: 5px 15px;
  color: #ffffff;
  font-size: 1.2em;
  @media (max-width: 645px) {
    padding: 5px 10px;
    font-size: 1.1em;
  }
}
