<div *ngIf="isVisible; else icon" class="chatbox">
  <div class="header">
    <h4 class="header__title">{{ 'CHAT.TITLE' | translate }}</h4>
  </div>
  <div class="messages">
    <div class="messages__item messages__item_operator">
      {{ 'CHAT.GREETING' | translate }}
    </div>
    <div
      class="messages__item messages__item_visitor"
      *ngFor="let message of messages">
      {{ message.message }}
    </div>
  </div>
  <div class="footer">
    <input
      class="footer__input"
      type="text"
      [placeholder]="'CHAT.MESSAGE' | translate"
      [(ngModel)]="message" />
    <button type="button" class="footer__send-btn" (click)="sendMessage()">
      {{ 'CHAT.SEND' | translate }}
    </button>
  </div>
  <div class="close" (click)="closeChat()">x</div>
</div>
<ng-template #icon>
  <fa-icon
    class="chat-icon"
    [icon]="faComment"
    size="3x"
    (click)="isVisible = true"></fa-icon>
</ng-template>
