@import 'src/variables';

.date {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 1.5em;
  font-weight: bold;
  background-color: $mainColor;
  color: $whiteColor;
  border-radius: 5px;
}
