@import "src/variables";

.product-card {
  padding: 0;
  box-shadow: 0 0 5px black;
  
  @media (max-width: 600px) {
    width: 220px;
  }
  @media (max-width: 490px) {
    margin: 0 auto;
    width: 270px;
  }

  .mat-card-image:first-child {
    margin: 0;
  }

  &__image {
    width: 270px;
    height: 200px;
    @media (max-width: 600px) {
      width: 220px;
      height: 130px;
    }
    @media (max-width: 490px) {
      width: 270px;
      height: 150px;
    }
  }

  &__content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & h3 {
      color: $mainColor;
      font-weight: bold;
      margin: 0;
      font-size: 1.2em;
    }

    & p {
      background-color: $mainColor;
      color: #ffffff;
      padding: 3px 5px;
      border-radius: 10px;
      margin: 0;
    }
  }

  &__details-btn {
    padding: 5px 15px;
    background-color: #B0CB1F;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    font-size: 1.2em;

    &:hover {
      background-color: #ffffff;
      color: #B0CB1F;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;

    .product-card__btn {
      border: 1px solid #CCCCCC;
      padding: 2px 5px;
      border-radius: 10px;
      font-weight: bold;

      &_category {
        background-color: #fff;
        color: #CCCCCC;

        &:hover {
          background-color: #CCCCCC;
          color: #fff;
          border: 1px solid #fff;
        }
      }

      &_edit {
        background-color: #f64c4c;
        color: #ffffff;

        &:hover {
          background-color: #ffffff;
          color: #f64c4c;
          border: 1px solid #fff;
        }
      }
    }
  }

  //&__category {
  //  align-self: flex-start;
  //  background-color: #fff;
  //  color: #CCCCCC;
  //  border: 1px solid #CCCCCC;
  //  padding: 2px 5px;
  //  border-radius: 10px;
  //  font-weight: bold;
  //
  //  &:hover {
  //    background-color: #CCCCCC;
  //    color: #fff;
  //    border: 1px solid #fff;
  //  }
  //}
}
