@import "src/variables";

:host {
  flex: 0 0 100%;
  background-color: $mainColor;
  color: $whiteColor;
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: center;
  padding: 10px;
}

.footer-title {
  font-size: 1.5em;
  font-weight: bold;
}
