@import "src/variables";

.banner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #B0CB1F;

  .title {
    font-size: 2em;
    color: $whiteColor;
    margin: 0;
  }
}
