@import 'src/variables';

:host {
  width: 100%;

  .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #b0cb1f;

    .title {
      font-size: 2em;
      color: $whiteColor;
      margin: 0;
    }
  }
}
