<form class="vote" (ngSubmit)="onSubmit()" *ngIf="!isSubmitted">
  <h3 class="vote__title">{{ 'NEWS.QUESTION' | translate }}</h3>
  <div class="vote__radio">
    <label>
      {{ 'NEWS.YES' | translate }}
      <input type="radio" name="vote" value="Yes" checked />
    </label>
    <label>
      {{ 'NEWS.NO' | translate }}
      <input type="radio" name="vote" value="No" />
    </label>
  </div>
  <app-button [text]="'NEWS.SUBMIT' | translate"></app-button>
</form>
<h3 class="vote__title" *ngIf="isSubmitted">
  {{ 'NEWS.FEEDBACK' | translate }}
</h3>
