/* You can add global styles to this file, and also import other style files */
@import 'src/theme';
@import 'src/variables';

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

button {
  transition: 0.2s;

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 5px $blackColor;
  }
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

input,
button,
textarea,
select {
  font: inherit;
}

input:focus {
  outline: none;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
  background-color: $whiteColor;
}
