$mainColor: #ff601f;
$successColor: #3cd73c;
$whiteColor: #ffffff;
$blackColor: #000000;
$primaryGradient: linear-gradient(
  90deg,
  rgba(255, 96, 31, 1) 0%,
  rgba(255, 196, 0, 1) 100%
);
$primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
$secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
