<div class='auth'>
  <div class='container auth-container'>
    <div class='auth-field'>
      <h2 class='auth-field__title'>{{isLoginMode ? 'Login' : 'Sign Up'}}</h2>
      <app-validation-error *ngIf='errorMessage$ | async'>* {{errorMessage$ | async}}</app-validation-error>
      <form class='auth-form' [formGroup]='authForm' (ngSubmit)='onSubmit()'>
        <fieldset class='auth-form__wrapper'>
          <div>
            <app-input
              type='email'
              placeholder='Email'
              formControlName='email'>
            </app-input>
            <div class='validation'>
              <app-validation-error
                *ngIf='authForm.get("email")?.touched && authForm.get("email")?.errors?.["required"]'>
                * Required
              </app-validation-error>
              <app-validation-error *ngIf='authForm.get("email")?.touched && authForm.get("email")?.errors?.["email"]'>
                * Invalid Email
              </app-validation-error>
            </div>
          </div>
          <div *ngIf='!isLoginMode'>
            <app-input
              type='text'
              placeholder='Username'
              formControlName='username'>
            </app-input>
            <div class='validation'>
              <app-validation-error
                *ngIf='authForm.get("username")?.touched && authForm.get("username")?.errors?.["required"]'>
                * Required
              </app-validation-error>
              <app-validation-error
                *ngIf='authForm.get("username")?.touched && authForm.get("username")?.errors?.["minlength"]'>
                * Should be longer than 3 symbols
              </app-validation-error>
            </div>
          </div>
          <div>
            <app-input
              type='password'
              placeholder='Password'
              formControlName='password'>
            </app-input>
            <div class='validation'>
              <app-validation-error
                *ngIf='authForm.get("password")?.touched && authForm.get("password")?.errors?.["required"]'>
                * Required
              </app-validation-error>
              <app-validation-error
                *ngIf='authForm.get("password")?.touched && authForm.get("password")?.errors?.["minlength"]'>
                * Should be longer than 6 symbols
              </app-validation-error>
            </div>
          </div>
          <div class='auth-form__buttons'>
            <app-button
              type='button'
              classes='success-btn'
              (click)='onToggleAuthMode()'
              [text]='isLoginMode ? "Sign Up" : "Login"'>
            </app-button>
            <app-button
              [disabled]='!!(authForm.invalid) || !!(isSubmitting$ | async)'
              [text]='isLoginMode ? "Login" : "Sign Up"'>
            </app-button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>

